<div id="main-info">
  <h1 id="main-title">Create your own travel map of <span id="the-world">the world <img src="assets/pointer.png" alt=""></span></h1>
  <div id="title-text">
    <p id="title-description">Mercator is a customisable online photo journal that makes a personalised map of the places you’ve visited.</p>
  </div>
  <button id="make-map-button" data-toggle="modal" data-target="#modalNew">Make a map</button>
  <div id="modalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="font-weight:bold">First, let's add a recent trip to your map</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(@trip) do |f| %>
            <%= f.input :name, label: "Trip Title", :placeholder => 'e.g. London City Break 2022' %>
            <%= f.input :destination_exact, label: "Where did you go?", input_html: { data: { geocoder_target: 'address' }, class: 'd-none'}, wrapper_html: {
              data: { controller: 'geocoder', geocoder_api_key_value: ENV["MAPBOX_API_KEY"] }} %>
            <%= f.input :date_start, as: :date, label: "When did you begin your trip?" %>
            <%= f.input :date_end, as: :date, label: "When did you leave?" %>
            <%= f.input :description, as: :text, label: "Describe your trip:", :placeholder => 'Had a great time. Loved the National Gallery.' %>
            <%= f.submit id: 'submit-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <img src="assets/cities_image.png" alt="" id="cities-image">
<div id="circle-large"></div>
<div id="circle-small"></div>
<footer>
</footer>
